<%inherit file="base.html"/>
<%block name='content'>
<mvc:View
		height="100%"
		xmlns:core="sap.ui.core"
		xmlns:mvc="sap.ui.core.mvc"
		xmlns:m="sap.m"
		controllerName="sap.m.sample.SemanticPage.Page"
		xmlns:semantic="sap.m.semantic"
        <%block name="prefix"/>
		displayBlock="true">

	<m;SplitContainer>
		<m:masterPages>
			<%block name="master"/>
		</m:masterPages>
		<m:detailPages>
			<%block name="detail"/>
		</m:detailPages>
	</mSplitContainer>

</mvc:View>

</%block>
${self.body()}