<%inherit file="commons/master.html"/>
<%block name="prefix">
   xmlns:form="sap.ui.layout.form"
</%block>
<%block name="master">

</%block>
<%block name="detail">
	<form:SimpleForm
		width="auto"
		class="sapUiResponsiveMargin"
		layout="ResponsiveGridLayout"
		editable="true"
		labelSpanL="3"
		labelSpanM="3"
		columnsL="2"
		columnsM="2"
		emptySpanL="4"
		emptySpanM="4"
		title="Date Input" >
		<form:content>
			<Label text="Date" />
			<DatePicker dateValue="{/date}"/>
			<Label text="Date" />
			<DatePicker dateValue="{/date}"/>
		</form:content>
	</form:SimpleForm>

</%block>
<script>
	(function(crtl){

	});
</script>